html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(17, 214, 221), rgb(17, 231, 178));
}

* {
  box-sizing: border-box;
}

#app {
  font-family: 'Raleway';
}

.container {
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 540px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
  }
}

#hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-title {
  color: white;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}

.hero-subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

section#main {
  background: white;
}

.add-entry {
  width: 100%;
  max-width: 620px;
  width: 100%;
  border-radius: 12px;
  padding: 36px;
  margin: 0 auto;
}

.title {
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  color: black;
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px 0 -12px;
  width: calc(100% + 24px);
}

.col {
  padding: 12px;
  margin: 0;
  display: block;
  width: 100%;
}

@media (min-width: 576px) {
  .col-6 {
    width: 50%;
  }
}

label {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  font-family: 'Oswald', sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid rgb(104, 104, 104);
}

button {
  padding: 12px;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 5px;
  background: rgb(17, 214, 221);
  color: white;
  margin: 0 12px;
  font-size: 18px;
  margin-left: auto;
  cursor: pointer;
}

button:hover {
  background: rgb(51, 228, 235);
  transition-duration: .25s;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

input {
  display: block;
}

h1 {
  font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #424242;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #424242;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #424242;
  font-family: 'Oswald', sans-serif;
}
